<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <%= favicon_link_tag 'minilogo3.png' %>
    <%= stylesheet_link_tag('bootstrap-grid')%>
    <%= stylesheet_link_tag('customers')%>
    <title>Mini Market</title>
  </head>
  
  <body>
    <div class="preloader">
      <div class="cssload-speeding-wheel"></div>
    </div>

    <div id="navbar">
      <nav class="navbar fixed-top navbar-light">
        <a class="navbar-brand" href="#">
          <%=image_tag("minilogo3.png", size:45, class: "d-inline-block align-top", alt: "ooł") %> Mini Market</a>
            <ul class="nav navbar-top-links navbar-right pull-right">
              <li>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href=<%=customers_logout_path %> target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Log out</a>
              </li>
            </ul>
      </nav>
    </div>
    
    <div class="wrapper">
      <nav id="sidebar">
        <ul class="list-unstyled components">
          <li class="active"><a href="#">Customer Panel</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">See products</a></li>
        </ul>
      </nav>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row bg-title">
            <div class="col-12">
              <h4 class="page-title">Welcome <%=@customer.name %>!</h4> 
              <h3 class="page-title">You're on your Customer panel</h3></div>
            </div>
          </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="white-box">
              <h3 class="box-title">Here you can see your offers</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Modified</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @offers.each do |o| %>
                      <tr>
                        <td><%= o.product.name %></td>
                        <td><%= o.status %></td>
                        <td><%= o.updated_at %></td>
                        <td><%= o.suggested_price %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   <footer class="footer text-center"> 2018 &copy; made by Mini Market Team C </footer>
  
  </body>

</html>
