<div class="login">
  <div class="container">
    <div class="form">
      <h1>dear <%= @customer.name%> here you can make a new offer for <%= @product.name%> from <%= @product.merchant.name%></h1>
      <p> Last offers is <%= number_to_currency(@product.offers.pluck(:suggested_price).max, unit:"zł", separator: ",", delimiter: " ", format: "%n %u")%>. Please, enter a higher price</p>
      <%= form_for :offer do |f| %>
        <div class="field">
          <%= f.label :suggested_price %><br>
          <%= f.text_field :suggested_price %>
        </div><br>
        <div class="actions">
          <%= f.submit "Create an offer" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
